body {
    background-image:url("https://picsum.photos/id/133/1000/1000") ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

#header{
    background-color:#34344a;
    color: white;
    height: 60px;
}

.nav > a{
    color: white;

}

#hero{
    font-size: 22px
    color: white;
}

#hero> h1{\
font-size: 88px;
}
#cta{
    
}